<div class="row">
    <% @articles.each do |article| %>
      <div class="col-6 bg-light">
         
          <div class='d-flex'>
           <div class="">
            
            <%= image_tag article.image, class: 'img-fluid'%>
            </div>
            <div><h5 class="title"><%= article.title %></h5>
             <p class=""><%= article.text %></p>
              <h6 class=" text-muted">Author: <%= article.author.name %></h6>
              <%= upvote_or_downvote(article) %>
                    <%= article.votes.count %>
                         <%= 'vote'.pluralize(article.votes.count) %>
              </div>
              
          </div>
         
      </div>
    <% end %>
 </div>